<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Usuário do Sistema</h4>
            <p class="card-category">Cadastro</p>
          </div>

          <div class="card-body">
            <h4>Dados do Usuário</h4>

            <!-- Linha 1: Tipo, Login, Nome, E-mail -->
            <div class="row">
              <div class="col-md-2">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo</mat-label>
                  <mat-select [(ngModel)]="model.origem" [disabled]="isEdit">
                    <mat-option [value]="0">Interno</mat-option>
                    <mat-option [value]="1">Externo</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Login</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="model.codigo"
                    [disabled]="isEdit || model.origem === 0"
                  />
                  <button
                    matSuffix
                    mat-icon-button
                    type="button"
                    *ngIf="!isEdit && !model.idExterno"
                    (click)="searchDirectory()"
                  >
                    <i class="material-icons">search</i>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" [(ngModel)]="model.nome" [disabled]="isReadOnly" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email" [(ngModel)]="model.email" [disabled]="isReadOnly" />
                </mat-form-field>
              </div>
            </div>

            <!-- Linha 2: Departamento + Ativo | Funções -->
            <div class="row align-items-start">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Departamento</mat-label>
                  <mat-select [(ngModel)]="model.idDepartamento">
                    <mat-option *ngFor="let dept of departmentList" [value]="dept.idDepartamento">
                      {{ dept.nome }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="ativo-check">
                  <mat-checkbox [(ngModel)]="model.ativo">Usuário Ativo</mat-checkbox>
                </div>
              </div>

              <div class="col-md-5">
                <p class="funcoes-label">Funções</p>
                <div class="funcoes-grid">
                  <mat-checkbox [(ngModel)]="isAdmin">Administrador</mat-checkbox>
                  <mat-checkbox [(ngModel)]="isRequester">Solicitante</mat-checkbox>
                  <mat-checkbox [(ngModel)]="isManager">Gestor</mat-checkbox>
                  <mat-checkbox [(ngModel)]="isFinancial">Financeiro</mat-checkbox>
                  <mat-checkbox [(ngModel)]="isAccounting">Contabilidade</mat-checkbox>
                </div>
              </div>
            </div>

            <!-- Linha 3: Senha -->
            <div class="row">
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Senha</mat-label>
                  <input matInput type="password" [(ngModel)]="password" [disabled]="isReadOnly" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Confirmação da Senha</mat-label>
                  <input matInput type="password" [(ngModel)]="passwordConfirmation" [disabled]="isReadOnly" />
                </mat-form-field>
              </div>
            </div>

            <div class="pull-right">
              <button
                mat-raised-button
                type="button"
                class="btn btn-danger"
                (click)="save()"
                [disabled]="isBusy"
              >
                Salvar
              </button>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
